@font-face {
    font-family: 'arial_blackregular';
    src: url('arial_black-webfont.woff2') format('woff2'),
        url('arial_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


img {
    max-width: 100%;
}

body {
    /*background: #f0eee9;*/
    background: #f5f4f0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
    text-decoration: none;
}

@media (max-width: 599px) {
    .indexcontainer {
        display: grid;
        grid-gap: 100px;

    }

    .container {
        display: grid;
        grid-gap: 100px;
    }

    .headercontainer {
        position: relative;
        height: 400px;
        width: 100%;
    }

    .mobilemenu {
        position: absolute;
        top: 15px;
        left: 10px;

    }

    .line {
        width: 20px;
        margin-bottom: 3px;
        height: 1px;
        border-bottom: 1px solid black;

    }

    .menu {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #e3e2e1;
        font-size: 1em;
        display: none;
        z-index: 9;
    }

    .x {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10px;
        font-size: 1.5em;
    }

    nav ul,
    nav li {
        margin: 0px;
        padding: 0px;
        width: 100%;
        list-style-type: none;

    }

    /* FIRST LEVEL */

    nav {
        padding-top: 10px;
        position: relative;
        display: table;
        width: 100%;
        height: 100%;
    }

    nav>ul {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }


    nav>ul>li {
        margin-bottom: 80px;
    }

    nav>ul>li>a {
        width: 100%;
        display: block;
        text-align: center;
    }

    /* DROP DOWN */

    nav>ul>li>ul {
        text-align: center;
        width: 100%;
    }

    nav>ul>li>ul a {
        display: block;
        margin-top: 5px;
    }


    .logo {
        margin: auto;
        width: 50%;
        text-align: center;
        letter-spacing: 1px;
        font-size: 1em;
        font-family: 'arial_blackregular';
        z-index: 10
    }

    .logoDiv {
        position: relative;
        width: 100%;
        height: 50px;
        margin-top: 20px;
    }



    #logoImage {
        position: absolute;
        margin: auto;
        width: 90px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    .quote {
        position: relative;
        width: 80%;
        text-align: center;
        left: 10%;
        right: 10%;
        line-height: 155%;
        font-size: .7em;
        letter-spacing: 0.5px;

    }

    .description {
        position: relative;
        width: 56%;
        margin-top: 50px;
        text-align: center;
        left: 22%;
        right: 22%;
        line-height: 150%;
        font-size: .7em;
        letter-spacing: 0.5px;

    }


    .stretch {
        font-family: 'arial_blackregular';
        display: inline-block;
        -webkit-transform: scale(1.5, 1);
        -moz-transform: scale(1.5, 1);
        -ms-transform: scale(1.5, 1);
        -o-transform: scale(1.5, 1);
        transform: scale(1.5, 1);
    }

    .menuWing {
        width: 30%;
        height: 100vh;
        border: 1px solid black;
        position: absolute;
        top: 0;
        left: 0;
    }

    /*    .video_container {
        height: 50vh;
    }*/


    video {
        display: block;
        width: 80%;
        margin: 0 auto;

    }

    .video_container .buttons {
        width: 70%;
        margin: 0 auto;
        z-index: 2;
        text-align: center;
        font-size: .7em;
        bottom: 0;
        cursor: pointer;
    }

    .footer {
        font-family: 'arial_blackregular';
        font-size: 15em;
        /*        position: absolute;
        bottom: 0;*/
    }

    .contact {
        text-align: center;
        text-transform: uppercase;
        font-size: .7em;
    }

    .footercontainer {
        position: relative;
        width: 100%;
        text-align: center;
        bottom: 0;
        z-index: 11;
    }

    .grid {
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
        margin-top: 10%;
        grid-gap: 5px;
    }

    #lightbox {
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        background: (0, 0, 0, 0.8);
        display: none;
    }

    #lightbox img {
        max-width: 90%;
    }

    #lightbox.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

@media (min-width: 600px) {
    .indexcontainer {
        display: grid;
        grid-template-rows: .5fr 2fr .5fr;
        grid-gap: 50px;
    }

    .container {
        display: grid;
        grid-template-rows: .5fr 2fr .2fr;
        grid-gap: 100px;
    }

    .headercontainer {
        position: relative;
        height: 200px;
        width: 100%;
    }

    .menu {
        position: fixed;
        left: 0;
        top: 0;
        font-size: .7em;
        z-index: 13;

    }

    .x {
        display: none;
    }

    .mobilemenu {
        display: none;
    }

    .menuSpacer {
        padding-top: 50px;
    }

    nav ul,
    nav li {
        margin: 0px;
        padding: 0px;
        list-style-type: none;

    }

    /* FIRST LEVEL */

    nav {
        padding-top: 10px;

    }

    nav>ul>li {
        float: left;
    }

    nav>ul>li>a {
        padding-right: 30px;
        padding-left: 30px;
        text-align: center;
    }

    nav:hover {
        width: 25%;
        height: 300vh;
        background: #e3e2e1;
    }


    nav>ul>li:hover>a {}

    /* DROP DOWN */

    nav>ul>li>ul {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
    }

    nav>ul>li:hover ul {
        display: block;
        height: 100vh;
    }

    nav>ul>li>ul a {
        display: block;
        padding-left: 30px;
    }

    .logo {
        position: fixed;
        top: 0;
        margin: auto;
        width: 100%;
        text-align: center;
        letter-spacing: 1px;
        font-stretch: expanded;
        font-size: 1em;
        font-family: 'arial_blackregular';
        z-index: 10
    }

    .logoDiv {
        position: fixed;
        width: 100%;
        height: 50px;
        margin-top: 20px;
    }

    #logoImage {
        position: absolute;
        margin: auto;
        width: 90px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    .quote {
        position: relative;
        width: 40%;
        height: auto;
        margin-top: 180px;
        text-align: center;
        left: 30%;
        right: 30%;
        line-height: 155%;
        font-size: .7em;
        letter-spacing: 0.5px;

    }

    .description {
        position: relative;
        width: 46%;
        margin-top: 200px;
        text-align: center;
        left: 27%;
        right: 27%;
        line-height: 155%;
        font-size: .7em;
        letter-spacing: 0.5px;

    }

    .stretch {
        font-family: 'arial_blackregular';
        display: inline-block;
        -webkit-transform: scale(1.5, 1);
        -moz-transform: scale(1.5, 1);
        -ms-transform: scale(1.5, 1);
        -o-transform: scale(1.5, 1);
        transform: scale(1.5, 1);
    }



    .menuWing {
        width: 30%;
        height: 200vh;
        border: 1px solid black;
        position: absolute;
        top: 0;
        left: 0;
    }

    .video_container {
        position: relative;
        width: 100%;
    }

    video {
        display: block;
        width: 70%;
        margin: 0 auto;

    }

    .video_container .buttons {
        width: 70%;
        margin: 0 auto;
        z-index: 2;
        text-align: center;
        font-size: .7em;
        bottom: 0;
        cursor: pointer;
    }



    .footer {
        font-family: 'arial_blackregular';
        font-size: 15em;
        /*        position: absolute;
        bottom: 0;*/
    }

    .contact {
        text-align: center;
        text-transform: uppercase;
        font-size: .7em;
    }

    .footercontainer {
        position: relative;
        width: 100%;
        text-align: center;
        bottom: 0;
        height: 20vh;
    }

    .projectfootercontainer {
        width: 100%;
        text-align: center;
        bottom: 0;
    }

    .gridcontainer {
        position: relative;
    }

    .grid {
        display: grid;
        position: relative;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-content: center;
        grid-gap: 10px;
    }

    .grid img {

        cursor: pointer;
    }

    #lightbox {
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        background: (0, 0, 0, 0.8);
        display: none;
    }

    #lightbox img {
        max-height: 100%;
    }

    #lightbox.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}